@import "../../../includes";

$bName: 'address';

.#{$bName} {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
	font-family: "Roboto Slab", serif;

	&__icon {
		margin: 0 5px 0 0;
	}

	&__address {
		line-height: 1.2em;
		font-size: 16px;
		color: #054e00;
	}
}
