@import "../../../includes";

$bName: 'email-with-icon';

.#{$bName} {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	text-align: center;
	justify-content: center;

	&__link {
		color: #054e00;
		font-weight: 300;
	}

	&__icon {
		margin: 0 10px 0 0;
	}
}
