@import "../../includes";

$bName: 'footer';

.#{$bName} {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding-top: 25px;
	padding-bottom: 40px;
	&__row {
		@include xy-grid();
	}
	&__container {
		@include xy-grid-container();

		width: 100%;
	}

	&__ceil {
		@include xy-cell(3);
		display: flex;
		&--type {
			&_logo {
				@include xy-cell(12);

				order: 3;
				margin-top: 30px;

				@include breakpoint(medium) {
					@include xy-cell(6);

					margin-top: 0;
					order: 0;
				}

				@include breakpoint(large) {
					@include xy-cell(4);
				}
			}
			&_menu {
				@include xy-cell(12);

				display: flex;
				overflow: hidden;
				text-overflow: ellipsis;

				@include breakpoint(medium) {
					@include xy-cell(6);

					display: flex;
				}

				@include breakpoint(large) {
					@include xy-cell(6);
				}

				.#{$bName} {
					&__menu-item {
						width: 50%;
					}
				}
			}
			&_contacts {
				display: none;

				@include breakpoint(large) {
					@include xy-cell(2);
					display: block;
				}
			}
		}
	}

}
