@import "../../includes";

$bName: 'phone-with-callback';

.#{$bName} {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	font-family: "Roboto Slab", serif;
	text-align: center;

	&__phone {
		line-height: 1.2em;
		font-size: 20px;
		color: #333333;
		width: 100%;
	}

	&__phone-icon {
		margin: 0 10px 0 0;
	}

	&__callback {
		width: 100%;
		font-size: 16px;
		color: #054e00;
		cursor: pointer;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
			opacity: 0.5;
			transition-duration: 0.5s;
			transition-property: opacity;
			transition-timing-function: ease;
		}
	}
}
