@function clearStr($str) {
	$removeList: '#', ' ', '-', '.', ',', "'", '"', '`', '+', '/', '*';

	@each $removeItem in $removeList {
		@while (str-index($str, $removeItem) != null) {
			$index: str-index($str, $removeItem);
			$str: "#{str-slice($str, 0, $index - 1)}#{str-slice($str, $index + 1)}";
		}
	}

	@return $str;
}

@mixin hoverLink($speed:0.25s ,$colorStart:#333,$colorFinish:#1cb243) {

	$keyframesName: 'hoverLink' + clearStr('_'+ $speed + '_'+$colorStart + '_'+$colorFinish);

	@keyframes #{$keyframesName} {
		from {
			color: $colorStart;
		}
		to {
			color: $colorFinish;
		}
	}

	border-bottom: 1px transparent solid;
	text-decoration: none;

	&:hover {
		transition: $speed ease;
		animation: $speed $keyframesName ease-in;
		color: $colorFinish;
		border-bottom-color: $colorFinish;
	}
}

@mixin gridBase() {
	&__container {
		@include xy-grid_container();

		&--bg {
			&_white {
				background: #ffffff;
			}
		}
	}
	&__row {
		@include xy-grid();
	}
	&__ceil-middle {
		@include xy-cell(12);

		@include breakpoint(medium) {
			@include xy-cell(10);
			margin: 0 auto;
		}
	}
	&__ceil {
		@include xy-cell(12);
	}
}

@mixin content() {
	img {
		max-width: 100%;

		&.right {
			float: right;
			margin: 0 0 10px 10px;
		}
	}
}
